:root {
  --color-background: #fafbfd;
  --color-background-hover: #e6ecf5;

  --color-body: #d94052;
  --color-body-dark: #801245;
  --color-body-light: #f08d99;

  --color-body-blue: #2a9d90;

  --color-text-light: #474c4e;
}
